html {
	scroll-behavior: smooth;
}

:root {
	--color-primary: #d73953;
	--color-black: #090909;
	--color-white: #ffffff;
	--color-light-grey: #f3f3f3;
	--color-dark-grey: #353535;
	--text-color: var(--color-black);
	--font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	--font-family-title: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Pour le corps (body), définissez la couleur du texte (foreground color) sur #161616 */
body {
	color: var(--text-color);
	font-family: var(--font-family-base);
}

/* Pour tous les éléments ancrés (balises <a>), définissez la couleur du texte sur #161616 */
a {
	color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-family-title);
}

/* Pour tous les éléments ayant la classe "visually-hidden", définissez leur propriété "display" sur "none" */
.visually-hidden {
	display: none;
}

/* Pour tous les éléments ayant la classe "card-category", définissez la couleur du texte sur #D73953 */
.card-category {
	color: var(--color-primary);
}

/* Pour tous les éléments ayant la classe "section-tagline", définissez la couleur du texte sur #D73953 */
.section-tagline {
	color: var(--color-primary);
}
